<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Register</h4>
      </div>
      <div class="modal-body">

        <%= form_for :user , class: 'form' do |f| %>

          <div class="form-group" >
            <%= label( f , :nickname ) %><br>
            <%= text_field( f , :nickname , class: 'form-control' , placeholder: "Your nickname" ) %>
          </div>

          <div class="form-group" >
            <%= f.label :email %><br>
            <%= f.text_field , :class => 'form-control' , placeholder: "Your Email" :email %>
          </div>

          <div class="form-group" >
            <%= f.label :password %><br>
            <%= f.password_field , class: 'form-control' , placeholder: "Your Password" :password_field %>
          </div>

          <div class="form-group" >
            <%= f.label :password_confirmation %><br>
            <%= f.password_field class: 'form-control' , :placeholder => "Your Password Again" :password_confirmation %>
          </div>

        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Register</button>
      </div>
    </div>
  </div>
</div>