<!DOCTYPE html>
<html>
<head>
  <title>MongoBlog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header" >

</div>
<%= yield %>

<div class="footer">
</div>

</body>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
