<!DOCTYPE html>
<html>
<head>
  <title>MongoBlog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section id="navbar-header">
	<%=	render "header/main" %>
	<%=	render "header/loginForm" %>
	<%=	render "header/registerForm" %>
</section>

<%= yield %>

<div class="footer">
</div>

</body>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
